.product-card-container {
  width: 15rem;
  border: 1px solid #d0d4ca;
  padding: 0.5rem;
  border-radius: 1.5rem;
}

.product-card-wrapper {
  position: relative;
}

.product-card-img {
}

.product-card-img img {
  width: 100%;
}

.product-card-icon-wrapper {
  position: absolute;
  display: flex;
  opacity: 0;
  bottom: -4rem;
  right: 3.1rem;
  border: 1px solid #ccc8aa;
  transition: 0.3s linear;
  /* display: flex; */
}

.product-card-icon {
  padding: 8px;
  transition: 0.2s linear;
}

.product-card-icon a {
  color: #000;
}

.product-card-icon:hover {
  background-color: #088178;
}

.product-card-icon:hover a {
  color: #fff;
}

.product-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card-container:hover .product-card-icon-wrapper {
  bottom: 2rem;
  opacity: 1;
}

.product-card-content:hover .product-card-name {
  /* font-weight: 500; */
}

.product-card-content:hover .product-card-current-price {
  /* font-weight: 500; */
}

.product-card-name {
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
  color: #000;
}

.product-card-price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #088178;
}

.product-card-before-price {
  text-decoration: line-through;
  color: #cebd9c;
}
