.product-detail {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  /* background-color: green; */
  /* justify-content: center; */
}

.single-pro-img {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.small-img-col {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.single-pro-details {
  width: 50%;
  padding-top: 2rem;
}

.single-pro-details h4 {
}

.single-pro-details h2 {
  margin: 2rem 0 1rem 0;
  /* font-size: 1.5rem; */
}

.product-price {
  margin: 1rem 0;
}

.css-1w2922d-MuiFormControl-root {
  margin: 0.5rem 0 !important;
}

.quantity {
  margin-top: 1rem;
  display: flex;
}

.quantity-wrapper {
  display: flex;
  gap: 4rem;
  align-items: flex-end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-number {
  width: 3rem;
  height: 1.8rem;
  text-align: center;
}

.change-quantity {
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #d0d4ca;
  cursor: pointer;
  user-select: none;
}

.add-to-cart-btn {
  background-color: #088178;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  min-width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.out-of-stock-btn {
  background-color: #e5d4ff;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  min-width: 10rem;
}

.product-description-title {
  margin: 2rem 0;
}

.product-description {
  line-height: 1.4rem;
}

.stock-wrapper {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .product-detail {
    display: flex;
    flex-direction: column;
  }

  .single-pro-img {
    width: 100%;
    margin-right: 0;
  }

  .single-pro-details {
    width: 100%;
  }

  .product-description-title {
    margin: 1rem 0;
  }
}
