.homeBanner {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/full_width_banner.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 9%;
  /* transition: 0.2s cubic-bezier(0.1, 0.7, 0.6, 0.9);
  transform-origin: top ; */
}

.homeBanner .contentBanner {
  max-width: 50rem;
}

.homeBanner .contentBanner h3 {
  font-size: 3rem;
  color: #333;
}

.homeBanner .contentBanner p {
  font-size: 1.2rem;
  color: #333;
}

.homeBanner .btnBanner {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff;
  width: 10rem;
}

.homeBanner .btnBanner:hover {
  background-color: #088178;
}

@media (max-width: 991px) {
  section {
    padding: 1rem;
  }
  .homeBanner {
    background-position: center;
  }
}
